
ul.desktop-list-subitems .nav-list-link {
    color: #cc4845 !important;
}


.section-single-product .labels.labels-product-slider::after

h5.mb-4 {
    text-align: center;
}

.js-product-detail .user-content p {
    text-align: center;
}


li.nav-item-desktop:nth-of-type(1)::before {
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid;
    background-size: contain;
    background-image: url("https://d2r9epyceweg5n.cloudfront.net/stores/002/327/830/rte/logo.png");
    content: "icone";
    color: transparent;
}

.nav-dropdown-content.desktop-dropdown li.nav-item-desktop:nth-of-type(1)::before {
    display: none;
    content: "";
}
